.form-section {
    background-color: #f7f7f7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .description-section {
    padding: 30px;
    font-size: 0.9rem; /* Adjust font size for the description */

  }

  .btn-red {
    background-color: #ff0000;
    color: white;
    border: none;
    margin-top: 5%; /* pushes the button to the bottom */
    max-width: 66%;


  }

  .equal-height {
    display: flex;
    flex-wrap: wrap;
  }

  .equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  /* Make sure the button sticks to the bottom */
  .form-section form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .form-section button[type="submit"] {
    margin-top: 5%;
  }
  .form-section label {
      font-size: inherit;
}
.des{
  
  font-size: 17px;
  line-height: 30px;
  margin: 20px 0;

}
.form-group > input,
.form-group > select {
max-width: 66%;


}
.form-control {

  color: #617181;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #a2b0bd;
  border-radius: .25rem;

}
